@model LocationTypeModel

@{
    ViewData["Title"] = "Location Type List";
}

<h1>List of Location Types</h1>
<div>
    <p>
        <a asp-action="Create">Create New Location Type</a>
    </p>
</div>

@Html.AntiForgeryToken()
<jquery-datatables id="dtLocationType"
                   class="table"
                   model="@Model"
                   thead-class="text-center"
                   enable-searching="true"
                   search-row-th-class="p-0"
                   search-input-class="form-control form-control-sm"
                   search-input-style="width: 100%"
                   search-input-placeholder-prefix="Search">
</jquery-datatables>

<partial name="DeleteRestoreModal" />
@if (TempData["Error"] != null)
{
    await Html.RenderPartialAsync("ErrorModal", TempData["Error"]);
}