@using Microsoft.AspNetCore.Identity
@using WebStorageSystem.Data.Entities.Identities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json" asp-append-version="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebStorageSystem</title>

    <partial name="LayoutPartial/_LayoutCssPartial"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WSS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="LayoutPartial/_LoginPartial"/>
                <ul class="navbar-nav flex-grow-1">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="locationsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Locations
                                </a>
                                <div class="dropdown-menu" aria-labelledby="locationsDropdown">
                                    <a class="dropdown-item" asp-area="Locations" asp-controller="Location" asp-action="Index">Locations</a>
                                    <a class="dropdown-item" asp-area="Locations" asp-controller="LocationType" asp-action="Index">Location Types</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Products
                                </a>
                                <div class="dropdown-menu" aria-labelledby="productsDropdown">
                                    <a class="dropdown-item" asp-area="Products" asp-controller="Manufacturer" asp-action="Index">Manufacturers</a>
                                    <a class="dropdown-item" asp-area="Products" asp-controller="ProductType" asp-action="Index">Product Types</a>
                                    <a class="dropdown-item" asp-area="Products" asp-controller="Vendor" asp-action="Index">Vendors</a>
                                    <a class="dropdown-item" asp-area="Products" asp-controller="Product" asp-action="Index">Products</a>
                                    <a class="dropdown-item" asp-area="Products" asp-controller="Unit" asp-action="Index">Units</a>
                                    <a class="dropdown-item" asp-area="Products" asp-controller="Bundle" asp-action="Index">Bundles</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" role="button" asp-area="" asp-controller="Transfer" asp-action="Index">Transfers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" role="button" asp-area="Defects" asp-controller="Defect" asp-action="Index">Defects</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    @*<partial name="LayoutPartial/_CookieConsentPartial"/>*@
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
@*
    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2020 - WebStorageSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    *@
<partial name="LayoutPartial/_LayoutScriptsPartial"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>