@model UnitModel

@{
    ViewData["Title"] = "Create Unit";
}

<h1>Create</h1>

<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control selectTwo" asp-items="ViewBag.Products" data-placeholder="Select Product">
                    <option value="">-- Select Product --</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control selectTwo" asp-items="ViewBag.Locations" data-placeholder="Select Location">
                    <option value="">-- Select Location --</option>
                </select>
                <span asp-validation-for="LocationId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="DefaultLocationId" class="control-label"></label>
                <select asp-for="DefaultLocationId" class="form-control selectTwo" asp-items="ViewBag.DefaultLocations" data-placeholder="Select Default Location">
                    <option value="">-- Select Default Location --</option>
                </select>
                <span asp-validation-for="LocationId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <select asp-for="VendorId" class="form-control selectTwoAllowClear" asp-items="ViewBag.Vendors" data-placeholder="Select Vendor (optional)">
                    <option value="">-- Select Vendor --</option>
                </select>
                <span asp-validation-for="VendorId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="PartOfBundleId" class="control-label"></label>
                <select asp-for="PartOfBundleId" class="form-control selectTwoAllowClear" asp-items="ViewBag.Bundles" data-placeholder="Select Bundle (optional)">
                    <option value="">-- Select Bundle --</option>
                </select>
                <span asp-validation-for="PartOfBundleId" class="text-danger" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
