@model UnitModel

@{
    ViewData["Title"] = "Edit " + @Model.InventoryNumber;
}

<h1>Edit</h1>

<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InventoryNumber" class="control-label"></label>
                <input asp-for="InventoryNumber" class="form-control" />
                <span asp-validation-for="InventoryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control selectTwo" asp-items="ViewBag.Products" data-placeholder="Select Product">
                    <option value="">-- Select Product --</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control selectTwo" asp-items="ViewBag.Locations" data-placeholder="Select Location">
                    <option value="">-- Select Location --</option>
                </select>
                <span asp-validation-for="LocationId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="ShelfNumber" class="control-label"></label>
                <input asp-for="ShelfNumber" class="form-control" />
                <span asp-validation-for="ShelfNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultLocationId" class="control-label"></label>
                <select asp-for="DefaultLocationId" class="form-control selectTwo" asp-items="ViewBag.DefaultLocations" data-placeholder="Select Default Location">
                    <option value="">-- Select Default Location --</option>
                </select>
                <span asp-validation-for="LocationId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <select asp-for="VendorId" class="form-control selectTwoAllowClear" asp-items="ViewBag.Vendors" data-placeholder="Select Vendor (optional)">
                    <option value="">-- Select Vendor --</option>
                </select>
                <span asp-validation-for="VendorId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="PartOfBundleId" class="control-label"></label>
                <select asp-for="PartOfBundleId" class="form-control selectTwoAllowClear" asp-items="ViewBag.Bundles" data-placeholder="Select Bundle (optional)">
                    <option value="">-- Select Bundle --</option>
                </select>
                <span asp-validation-for="PartOfBundleId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastCheckTime" class="control-label"></label>
                <input asp-for="LastCheckTime" class="form-control" readonly="readonly" type="text" id="dt-lastCheck" />
                <button type="button" class="btn btn-secondary" id="set-current-time">Now</button>
                <span asp-validation-for="LastCheckTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="RowVersion" />
            <input type="hidden" asp-for="LastCheckTime">
            <input type="hidden" asp-for="LastTransferTime">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@if (TempData["Error"] != null)
{
    await Html.RenderPartialAsync("ErrorModal", TempData["Error"]);
}