@model ProductModel

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNumber" class="control-label"></label>
                <input asp-for="ProductNumber" class="form-control" />
                <span asp-validation-for="ProductNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Webpage" class="control-label"></label>
                <input asp-for="Webpage" class="form-control" />
                <span asp-validation-for="Webpage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class="form-control selectTwo" asp-items="ViewBag.Manufacturers" data-placeholder="Select Manufacturer">
                    <option value="">-- Select Manufacturer --</option>
                </select>
                <span asp-validation-for="ManufacturerId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeId" class="control-label"></label>
                <select asp-for="ProductTypeId" class="form-control selectTwo" asp-items="ViewBag.ProductTypes" data-placeholder="Select Product Type">
                    <option value="">-- Select Product Type --</option>
                </select>
                <span asp-validation-for="ProductTypeId" class="text-danger" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
