@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebStorageSystem.Areas.Defects.Data.Entities
@model DefectModel

@{
    ViewData["Title"] = "Edit Defect" +@Model.DefectNumber;
}

<h1>Edit</h1>

<h4>Defect @Model.DefectNumber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DefectNumber" class="control-label"></label>
                <input asp-for="DefectNumber" class="form-control" />
                <span asp-validation-for="DefectNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label"></label>
                <select asp-for="UnitId" class="form-control selectTwo" asp-items="ViewBag.Units" data-placeholder="Select Unit">
                    <option value="">-- Select Unit --</option>
                </select>
                <span asp-validation-for="UnitId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="DiscoveredByUserId" class="control-label"></label>
                <select asp-for="DiscoveredByUserId" class="form-control selectTwo" asp-items="ViewBag.Users" data-placeholder="Select User">
                    <option value="">-- Select User --</option>
                </select>
                <span asp-validation-for="DiscoveredByUserId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control" asp-items="Html.GetEnumSelectList<DefectState>()">
                    <option>--- Select State ---</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                @if (Model.Image != null)
                {
                    <partial name="ImageUpload/View" model="Model.Image" />
                    <span>Change Image</span>
                    <partial for="Image" name="ImageUpload/Upload" />
                }
                else
                {
                    <partial for="Image" name="ImageUpload/Upload" />
                }
                <input type="hidden" asp-for="ImageId" />
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="RowVersion" />
            <input type="hidden" asp-for="CreatedByUserId" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}